.main-area02 {
  background-color: #fff4f3;
  height: 100vh;
}
.area {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-territory {
  position: relative;
}
.invitation-form {
  position: relative;
  
}
img {
  display: flex;
  size: 50%;
  object-fit: scale-down;
}
