.mainindex {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  /* mobile 환경에서 스크롤 방지 */
  touch-action: none;
}
/* 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

.scrollwheelhandler > div {
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}
.goServiceButton {
  left: 50%;
  position: fixed;
  padding-bottom: 10%;
}
