.main-area03 {
  height: 100vh;
  background-color: #d2dae9;
}
.album-form {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  display: flex;
  object-fit: scale-down;
}
