.main-area01 {
  background-color: #ffc0bb;
  height: 100vh;
}
.container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  
  object-fit: scale-down;
}
.goServiceButton {
  position: fixed;
  bottom: 0;
}
