.main-area01 {
  display: flex;
  margin-top: 8vh;
  padding-bottom: 8vh;
  height: 92vh;
  background-color: #ffc0bb;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyBox{
  width:200px;
  height:200px;
}
.title_explain{
 display: flex;
 flex-direction: column;
}
.title{
  font-size:72px;
}
.explainText{
  font-size: 48px;
}
.verticalLayout {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.horizontalLayout{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.goServiceButton {
  position: fixed;
  bottom: 0;
}
.image_main01{
  height:100%;
}
#title_p1_01{
  height:100px;
}
#explain_p1_01{
  height:305px;
}
#VL_p1_01{
  height:100%;
}
#VL_p1_02{
}
#HL_p1_02{
}
#HL_p1_03{
}