.main-area03 {
  background-color: #d2dae9;
  display: flex;
  padding-bottom: 8vh;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container_p3 {
  height:750px;
}
#HL_p3_01 {
  width: 100%;
  height: 100%;
}
#VL_p3_01 {
  height: 100%;
  justify-content: space-between;
}