.main-area04 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  padding-bottom: 8vh;
  background-color: #d9cfde;
}

.content-wrapper {
  height:75%;
}

#VL_p4_01 {
  height: 100%;
  width: 100%;
}

ul {
  position: relative;
  left: 20%;
}