.mainindex {
  height: 100%;
  overflow-y: hidden;
  /* mobile 환경에서 스크롤 방지 */
  touch-action: none;
}
/* 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

.goServiceButton {
  left: 50%;
  position: fixed;
  padding-bottom: 10%;
}
