/* 구분선  */
.UM-Division-Line{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    margin-bottom: 3%;
}

.modify-label {
    margin-bottom: 1.5%;
}

.user-modify-btn {
    margin-top: 3%;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.duplicate-btn {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;

}