.service-process02 {
    background-color: #fff4f3;
    padding-top: 12vh;
    padding-bottom: 12vh;
    height: 88vh;
}

.infoContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}