.album-cover {
    background-color: #C5DAD1;
    height: 65vh;
    padding: 10%;
    }

.cover-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 500px;
    height: 600px;
}
.album-img {
    margin: auto;
    position: absolute;
    top: 30%;
}
.cover-id {
    margin: auto;
    position: absolute;
    top: 60%;
}

.upload-media {
    display: flex;
    justify-content: center;
    align-items: center;
}